.red {
        color: red;
}

.green {
        color: green;
}

.pink {
        color: pink;
}

.orange {
        color: orange;
}

.purple {
        color: purple;
}

a.external.reference > em {
    font-style: normal !important;
}
